{
  "openapi": "3.1.0",
  "info": {
    "title": "Tratto Email API",
    "version": "1.0.0",
    "description": "REST API for Tratto Email service"
  },
  "servers": [
    {
      "url": "https://api.tratto.email/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/emails": {
      "post": {
        "tags": ["Emails"],
        "summary": "Send an email",
        "operationId": "sendEmail",
        "description": "Send a single email or batch of emails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Recipient email address"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Email ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
